/* You can add global styles to this file, and also import other style files */
* {
  box-sizing:content-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #4b4d55;
  color: #74d3e3;
  margin: 0;
  padding: 0;
  height: 100%;
}